*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(100, 165, 251);
}
h1{
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

section{
    font: bold 12pt Arial;
    background-color: white;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.384);
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    margin: auto;
}

input#data{
    margin: 10px;
}
input#fem,#masc{
    margin-top: 15px;
    margin-bottom:25px;
    margin-left: 5px;
    margin-right: 5px;
}

input#btn{
      display: block;
      margin: auto;
      width: 90px;
}
div#res{
    margin-top:20px;
}

footer{
    font: normal 10pt Arial;
    font-style: italic;
    color: white;
    text-align: center;
    margin-top:15px;
}